version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    # Group all dependencies into a single PR
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: nuget
    directory: /src
    schedule:
      interval: daily

    # Group all dependencies into a single PR
    groups:
      nuget-dependencies:
        patterns:
          - "*"
